discord.py==2.2.3
yt-dlp==2023.3.4
googletrans
SQLAlchemy==2.0.0
psycopg2-binary==2.9.6
aiohttp
rcon
PyNaCl
openai>=1.14.3
python-dotenv>=1.0.1
chromadb
sentence-transformers
langchain-community>=0.2.0
langchain-core>=0.2.0
requests
beautifulsoup4
huggingface_hub[hf_xet]>=0.23.0
sqlalchemy
psycopg2-binary 
